[Desktop Entry]
Name=Rufin
Comment=Native music player
Exec=rufin
Icon=io.github.screwys.Rufin
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;Player;
Keywords=Jellyfin;Emby;Plex;Navidrome;Subsonic;WebDAV;Samba;Music;GTK;Audio;Player;
StartupNotify=true
