pkgbase = rufin-git
	pkgdesc = Native GTK4/libadwaita music player for Jellyfin, Subsonic, Navidrome and local libraries written in Rust
	pkgver = 0.1.4.r0.g52dbf66
	pkgrel = 1
	url = https://github.com/screwys/Rufin
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = cmake
	makedepends = gettext
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	depends = libgcc_s.so
	depends = glib2
	depends = glibc
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	provides = rufin
	conflicts = rufin
	options = !lto
	source = Rufin::git+https://github.com/screwys/Rufin.git
	sha256sums = SKIP

pkgname = rufin-git
