[Desktop Entry]
Name=Rufin (Development)
Comment=Rufin development build
Exec=false
Icon=io.github.screwys.Rufin.Devel
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;Player;
Keywords=Jellyfin;Subsonic;Navidrome;Music;GTK;Audio;Player;
StartupNotify=true
